@import "tailwindcss";

/* You will notice far less animations compared to my previous project because I want to avoid too many distractions
   in a data input based web application */

/* simple Go down animation*/
@keyframes go-down {
    0% {
        opacity: 0;
        transform: translateY(-15rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* theme for the animation, also combining animation delay and other styles*/
@theme {
    --animate-go-down: go-down 1s ease-out forwards;
}

/* components to avoid using repeated properties in html file */
@layer components{
    .fade-anim {
        @apply opacity-0 animate-go-down [animation-delay:1s];
    }
    .input-box {
        @apply w-full p-2 rounded bg-gray-800 text-white border border-gray-700 focus:outline-none focus:ring-2 focus:ring-amber-500;
    }
    .label-dupe {
        @apply block text-left text-white font-semibold mb-1;
    }
}